/* body {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
} */
.add-patient-form-container {
    width: 100%;
    padding: 10px;
    margin: 100px auto;
    box-sizing: border-box;
    background-color: cadetblue;
    height: 75vh;
    
}

.add-patient-form h5 {
    text-align: center;
    margin-right: 20%;
    color: white;
    font-size: 39px;
    margin-bottom: 20px;
}

.add-patient-form {
    display: flex;
    flex-direction: column;
}

.add-patient-form label {
    font-weight: bold;
    margin-left: 33%;
    margin-bottom: 5px;
    color: black;
    font-size: 20px;
    font-style: normal;


}

.add-patient-form input,
.add-patient-form textarea,
.add-patient-form select {
    width: 30%;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 33%;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-size: 20px;
    border-radius: 15px;

}

.add-patient-form input:focus,
.add-patient-form textarea:focus,
.add-patient-form select:focus {
    outline: none;
}

.add-patient-form button {
    width: 31.5%;
    padding: 12px;
    background-color:black;
    color: white;
    border: none;
    margin-top: 30px;
    margin-left: 33%;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 15px;
}

.add-patient-form button:hover {
    background-color: #45a049;
}

.add-patient-form textarea {
    resize: vertical;
    min-height: 80px;
}
