body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #f4f4f4;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: blue;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    border-radius: 4px;
}

.edit-procedure-form-container {
    max-width: 600px;
    margin: 80px auto 0 auto;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    border: 2px solid none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

.edit-procedure-form {
    display: flex;
    flex-direction: column;
}

.edit-procedure-form h1 {
    text-align: center;
    font-size: 24px;
    color: black; 
    margin-bottom: 20px;
}

.edit-patient-info {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
}

.edit-patient-info p {
    margin: 5px 0;
    font-size: 20px;
    color: green;
}

.edit-procedure-form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.edit-procedure-form input,
.edit-procedure-form textarea,
.edit-procedure-form select {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.edit-procedure-form input:focus,
.edit-procedure-form textarea:focus,
.edit-procedure-form select:focus {
    outline: none;
    border-color: gray;
}

.edit-procedure-form textarea {
    resize: vertical;
    min-height: 50px;
}

.edit-procedure-button-primary {
    padding: 12px 20px;
    background-color:grey;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.edit-procedure-button-primary:hover {
    background-color:grey;
}

.edit-procedure-button-delete {
    padding: 12px 20px;
    background-color: #f4f4f4;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.edit-procedure-button-delete:hover {
    background-color: #f4f4f4;
}

.edit-mode-label {
    display: inline-block;
    padding: 5px 10px;
      background-color: #f4f4f4;
    ;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}

@media (max-width: 768px) {
    .edit-procedure-form-container {
        width: 90%;
    }

    .navbar ul {
        flex-direction: column;
        gap: 15px;
    }
}
