body {
    margin: 0;
    padding: 0;
    background-color: white; 
    /* overflow: hidden;  */
}

.patient-list-container {
    width: 100%;
    height: 100vh; 
    margin: 0 auto;
    box-sizing: border-box;
    color: black;
    background-color: white; 
    overflow-y: auto; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.patient-list-container h1 {
    text-align: center; 
    margin-top: 50px;
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px; 
    font-style: italic;
    font-weight: normal; 
}
.patient-list {
    width: 100%;
    border-collapse: collapse;
}
.patient-list th,
.patient-list td {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}

.patient-list th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.patient-list-container button {
    width: 100%; 
    padding: 10px; 
    margin: 5px 0;
}
.patient-list tr:nth-child(even) {
    background-color: #f9f9f9; 
}
.patient-list tr:hover {
    background-color: #f1f1f1; 
}
.search-input {
    width: 17%;
    padding: 10px;
    margin-left: 80%;
    margin-bottom: 15px;
    font-size: 16px;
    border: none;
    border: 1px solid none;
    border-bottom: 2px solid wheat; 

    background-color:white;
    color: black;
    outline: none;
}
