.signup-container{
    width: 450px;
    height: 80vh;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}
.signup-container h2{
    margin-top: 25%;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 300px;
    color: black;
    margin-left:40%;
    justify-content: center;
}
.form-group label{
     display: flex;
     margin-bottom: 0px;
     margin-left: 5%;
}
.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"]{
    width: 79%;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 35px;
    margin-top: 5px; 
    border: 1px solid #ccc;
    font-size: 0.9rem;
    border-radius: 5px;

}
.signup-btn{
    width: 84%;
    padding: 12px;
    margin-bottom: 15px;
    margin-left: 35px;
    margin-top: 10px; 
    border: 2px solid #ccc;
    font-size: 0.9rem;
    margin-top: 30px;
    border-radius: 8px;
    background-color:green;
}
